header{
    width: 100%;
    height: 60px;
    background-color: rgb(50, 54, 57);
    display: block;
}
header #coluna1{
   width: 20%;
   height: 60px;
   background-color: rgb(50, 54, 57);
   display: block;
   float: left;
}
header #coluna1 #barras{
    width: 20%;
    height: 60px;
}
header #coluna3{
    width: 12%;
    height: 60px;
    background-color: rgb(50, 54, 57);
    display: block;
    float: right;
}
header #coluna2{
    width: 68%;
    height: 60px;
    background-color: rgb(50, 54, 57);
    display: block;
    float: left;
}
#titulo{
    font-size: 15px;
    position: relative;
    bottom: 40px;
    margin-left: 60px;
    color: white;
}
#numero{
    width: 20px;
    height: 20px;
    background-color: black;
    margin-left: 300px;
    margin-top: 20px;
    border: none;
    text-align: center;
    color: white;
}
.page{
    color: white;
}
#linha{
    width: 1px;
    height: 20px;
    background-color: dimgrey;    
    margin-left: 370px;
    position: relative;
    bottom: 22px;
}
#porcentagem{
    width: 50px;
    height: 20px;
    background-color: black;
    border: none;
}
.menos{
    font-size: 25px;
    color: white;
}
#zoom{
    margin-left: 390px;
    position: relative;
    bottom: 53px;
}
#primeiroicone{
    width: 20px;
    height: 20px;
    margin-left: 535px;
    position: relative;
    bottom: 100px;
    
}
#linha2{
    width: 1px;
    height: 20px;
    background-color: dimgrey;    
    margin-left: 500px;
    position: relative;
    bottom: 76px;
}
#segundoicone{
    width: 20px;
    height: 20px;
    margin-left: 580px;
    position: relative;
    bottom: 124px;
}
#terceiroicone{
   width: 20px;
   height: 20px;
   margin-top: 20px;
}
#quartoicone{
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
#quintoicone{
    width: 20px;
    height: 20px;
    margin-left: 29px;
    margin-top: 20px;
}
