header{
    width: 100%;
    height: 60px;
    background-color: rgb(40, 40, 40);
    display: block;
}
header #coluna1{
   width: 20%;
   height: 60px;
   background-color: brown;
   display: block;
   float: left;
}
header #coluna1 #barras{
    width: 20%;
    height: 60px;
}
header #coluna3{
    width: 12%;
    height: 60px;
    background-color: blue;
    display: block;
    float: right;
}
header #coluna2{
    width: 68%;
    height: 60px;
    background-color: blueviolet;
    display: block;
    float: left;
}